<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="script/script.js" defer></script>
    <link rel="stylesheet" href="style/fonts.css" />
    <link rel="stylesheet" href="style/login.css" />
  </head>
  <body>
    <%- include('login-register-partials/header') %>

    <main>
      <ul id="tabs">
        <li class="tab" data-form="login">Login</li>
        <li class="tab" data-form="register">Register</li>
      </ul>
      <div class="square">
        <div class="form-container" id="loginForm">
          <form action="/login" method="post">
            <div class="user-column">
              <label for="username">Username</label>
              <input type="text" name="username" placeholder="johndoe@gmail.com"/>
            </div>
            <div class="user-column">
              <label for="password">Password</label>
              <input type="password" name="password" placeholder="****"/>
            </div>
            <div class="center">
              <input type="submit" value="Sign in"/>
            </div>
          </form>
        </div>

        <div class="form-container" id="registerForm">
          <form action="/register" method="post">
            <div class="user-column">
              <label for="name">Name</label>
              <input type="text" name="name" />
            </div>
            <div class="user-column">
              <label for="username">Username</label>
              <input type="text" name="username" />
            </div>
            <div class="user-column">
              <label for="password">Password</label>
              <input type="password" name="password" />
            </div>
            <div class="user-column">
              <label for="academic_num">Academic ID</label>
              <input type="text" name="academic_num" />
            </div>
            <div class="user-column">
              <label for="specialization">Peminatan:</label>
              <select name="specialization" id="specialization">
                <option value="CS">Computing Science</option>
                <option value="DS">Data Science</option>
              </select>
            </div>
            <div class="center">
              <input type="submit" value="Register"/>
            </div>
          </form>
        </div>
      </div>
    </main>

    <%- include('login-register-partials/footer') %>
  </body>
</html>
