<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <script src="script/script.js"></script>
        <link rel="stylesheet" href="styling/fonts.css" />
        <link rel="stylesheet" href="styling/login.css" />
    </head>
    <body>
        <header>
            <figure>
                <img src="images/logo_univ_header_name.png" alt="logo instansi" id="logo" />
            </figure>
            <nav>
                <a href="">Cara Penggunaan</a>
                <a href="">Tentang Kami</a>
            </nav>
        </header>

        <main>
            <div class="square">
                <h1>Sign in</h1>
                <form action="">
                    <div class="credentials">
                        <label for="username">Username</label>
                        <input type="text" name="username" />
                    </div>
                    <div class="credentials">
                        <label for="password">Password</label>
                        <input type="password" name="password" />
                    </div>
                    <div id="btn_padding">
                        <input type="submit" value="Sign in" id="submit" />
                    </div>
                </form>
            </div>
        </main>

        <footer>
            <div class="message">
                <p>Feel free to reach out to me if you have any constructive suggestions! Email: erwindarsono08@gmail.com</p>
            </div>
        </footer>
    </body>
</html>
