<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="script/script.js" defer></script>
    <link rel="stylesheet" href="styling/fonts.css" />
    <link rel="stylesheet" href="styling/login.css" />
  </head>
  <body>
    <%- include('login-register-partials/header') %>

    <main>
      <div class="square">
        <ul id="tabs">
          <li class="tab" data-form="login">Login</li>
          <li class="tab" data-form="register">Register</li>
        </ul>

        <div class="form-container" id="loginForm">
          <form action="/login" method="post">
            <div>
              <label for="username">Username</label>
              <input type="text" name="username" />
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" name="password" />
            </div>
            <div>
              <input type="submit" value="Sign in" id="submit" />
            </div>
          </form>
        </div>

        <div class="form-container" id="registerForm">
          <form action="/register" method="post">
            <p>Register page nih bos</p>
            <div>
              <label for="username">Username</label>
              <input type="text" name="username" />
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" name="password" />
            </div>
            <div>
              <input type="submit" value="Register" id="submit2" />
            </div>
          </form>
        </div>
      </div>
    </main>

    <%- include('login-register-partials/footer') %>
  </body>
</html>
