/* {"Orange (Crayola)":"ff6b35"
    ,"Oxford Blue":"001b2e",
    "Charcoal":"294c60","French gray":"adb6c4",
    "Papaya whip":"ffefd3"} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: nunito-regular;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 25vw;
}

nav {
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

li {
    font-size: larger;
    font-family: "nunito-regular", serif;
}
