<header>
    <figure>
        <img src="images/logo_univ_header_name.png" alt="logo instansi" id="logo" />
    </figure>
    <nav>
        <a href="">How to use</a>
        <a href="">About us</a>
    </nav>
</header>